################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/aspm/Image
/.vs/aspm
/aspm/obj/Debug
