
<head>
    <title>:: Army Public School - Mumbai ::</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="image/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/vendor.bundle.css">
    <link id="style-css" rel="stylesheet" type="text/css" href="css/style-bitcoin.css">
    <script>
        function startDate() {
            var d = new Date();
            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            document.getElementById("date").innerHTML = days[d.getDay()] + " | " + d.getDate() + " " + months[d.getMonth()] + " " + d.getFullYear();
        }
        startDate();
    </script>
</head>
<div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">

            <div class="row">
                <div class="col-md-8">

                    <h2>SCHOOL ADMINISTRATION & MANAGEMENT COMMITTEE.</h2>

                    <div class="col-md-9 npl res-m-bttm">

                        <h4>Senior Patron</h4>
                        <p>GOC, MG & G Area</p>
                        <h4>Patron</h4>
                        <p>COS, HQ MG & G Area</p>
                        <h4>Chairman</h4>
                        <p>BGS, HQ MG&G Area.</p>
                        <h4>Members</h4>
                        <p>
                            - Col ‘A’ , HQ MG&G Area<br>

                            - Col ‘GS’, Financial Member<br>

                            - GE (W), Colaba, Mumbai<br>

                            - Two Parents of students.<br>

                            - Two teachers of the School.<br>

                            - Two Educationists.<br>

                            - SO AWES , HQ MG&G Area
                        </p>

                        <!-- TeamRow #end -->
                        <h4>Secretary</h4>
                        <p>Principal</p>
                        <p></p>
                    </div>

                    <!-- Sidebar -->
                    <!--<div class="col-md-3 col-sm-12 res-m-bttm">
                            <p><img src="image/about.jpg"></p>

                        </div>-->
                    <!-- Sidebar #end -->
                </div>
                <div class="col-sm-4 npr">
                    <img alt="" src="image/about.jpg">
                </div>
            </div>
        </div>
    </div>
    </div>