
<head>
    <title>:: Army Public School - Mumbai ::</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="image/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/vendor.bundle.css">
    <link id="style-css" rel="stylesheet" type="text/css" href="css/style-bitcoin.css">
    <script>
  function startDate() {
    var d = new Date();
    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    document.getElementById("date").innerHTML = days[d.getDay()]+" | "+d.getDate()+" "+months[d.getMonth()]+" "+d.getFullYear();
  }
startDate();
    </script>
    <div class="section section-projects single-project section-pad">
        <div class="container">
            <div class="content row">

                <div class="project-info">

                    <h1>Our Staff</h1>
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <h3>Staff list</h3>
                            <div class="table-responsive">
                                <table class="table table-striped bdr-bottom">
                                    <tbody>
                                        <tr>
                                            <td><strong>S R No</strong></td>
                                            <td><strong>Name</strong></td>
                                            <td><strong>Designation</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><strong>Principal</strong></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Mrs Vipanjot Sehdeva </td>
                                            <td>Principal</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><strong>Teaching Academic Staff</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><strong>PGTs</strong></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Dr (Mrs) Kusum Chawla</td>
                                            <td>Sr PGT (Chem)</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Mrs Gopa Burman </td>
                                            <td>PGT(Comm)</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Mrs Sangeeta Sharma</td>
                                            <td>PGT (Bio)</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Mrs Dhanya V Nair</td>
                                            <td>PGT (Phy)</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Mrs Melissa C D'Silva</td>
                                            <td>PGT(Eng)</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Mrs Anusha S K</td>
                                            <td>PGT(IP)</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Mrs Shushma Arepalli </td>
                                            <td>PGT(Eco)</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Mr Jayprakash Prajapati</td>
                                            <td>PGT(Maths)</td>
                                        </tr>



                                        <tr>
                                            <td colspan="3"><strong>TGTs</strong></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Mr Humayun Afroz Alam</td>
                                            <td>Vet PET</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Ms Rai Bharti</td>
                                            <td>Sr TGT (Hindi)</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>Mrs Sanhita Dutta </td>
                                            <td>Sr TGT (S. St)</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>Mrs Jayshree Sreeram </td>
                                            <td>Sr TGT (Sanskrit)</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>Mr Sunil Kumar Yadav</td>
                                            <td>Sr TGT (S. St)</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>Mrs Ranjini A C</td>
                                            <td>TGT (Sci/Maths)</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>Mrs Vandana Pandey </td>
                                            <td>TGT (Maths)</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>Ms Divya Shukla</td>
                                            <td>TGT (Sci)</td>
                                        </tr>
                                        <tr>
                                            <td>18</td>
                                            <td>Mrs Priti Sudha Das</td>
                                            <td>TGT (Sci)</td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td>Mrs Reshma Raut</td>
                                            <td>TGT (Comp. Sci.)</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>Mrs Monisha Mohan Das</td>
                                            <td>TGT (Eng)</td>
                                        </tr>
                                        <tr>
                                            <td>21</td>
                                            <td>Mrs Vandana Wanjari</td>
                                            <td>TGT (Sci/Maths)</td>
                                        </tr>
                                        <tr>
                                            <td>22</td>
                                            <td>Mrs Jaya Karmalkar</td>
                                            <td>TGT English</td>
                                        </tr>
                                        <tr>
                                            <td>23</td>
                                            <td>Mrs Madhubala Yadav</td>
                                            <td>TGT (Hindi)</td>
                                        </tr>

                                        <tr>
                                            <td colspan="3"><strong>PRTs</strong></td>
                                        </tr>
                                        <tr>
                                            <td>24</td>
                                            <td>Mrs T Shailaza </td>
                                            <td>Sr PRT</td>
                                        </tr>
                                        <tr>
                                            <td>25</td>
                                            <td>Ms Meenu Bala Atri </td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>26</td>
                                            <td>Mrs Gayatri Khanger</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>27</td>
                                            <td>Mrs Shalini Shrivastava</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>28</td>
                                            <td>Mrs Priyanka Singh</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>29</td>
                                            <td>Mrs Simran Gharat</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>30</td>
                                            <td>Mrs Shanta Nair</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>31</td>
                                            <td>Mrs Shanta Nair</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>32</td>
                                            <td>Mrs Maitri Soni</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>33</td>
                                            <td>Mrs Manisha Jagtap</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>34</td>
                                            <td>Mrs Archana Marchino</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>35</td>
                                            <td>Mrs Baneet Kaur</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td>36</td>
                                            <td>Mrs Yogini Dhawad</td>
                                            <td>PRT</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><strong>Activity Teachers</strong></td>
                                        </tr>
                                        <tr>
                                            <td>37</td>
                                            <td>Mr Dinesh Yadav</td>
                                            <td>PRT - PET</td>
                                        </tr>
                                        <tr>
                                            <td>38</td>
                                            <td>Mrs Neeta Sutar</td>
                                            <td>TGT - Arts & Craft</td>
                                        </tr>
                                        <tr>
                                            <td>39</td>
                                            <td>Mr Borse Rakesh Panditrao</td>
                                            <td>TGT (Music Teacher)</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><strong>Non Teaching Academic Staff</strong></td>
                                        </tr>
                                        <tr>
                                            <td>40</td>
                                            <td>Mrs Aditi Prabhu</td>
                                            <td>TGT Counsellor</td>
                                        </tr>
                                        <tr>
                                            <td>41</td>
                                            <td>Mrs Kirtida Khanapurkar</td>
                                            <td>Librarian</td>
                                        </tr>
                                        <tr>
                                            <td>42</td>
                                            <td>Mr Sunil Mohrale</td>
                                            <td>Lab Attendant</td>
                                        </tr>
                                        <tr>
                                            <td>43</td>
                                            <td>Mr Pushpkant Ovhal </td>
                                            <td>Comp.Lab.Tech </td>
                                        </tr>
                                        <tr>
                                            <td>44</td>
                                            <td>Mr Deepak Dhiware</td>
                                            <td>Lab Attendant</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><strong>Adm Staff (Office)</strong></td>
                                        </tr>

                                        <tr>
                                            <td>45</td>
                                            <td>Mr Balkisan Bind</td>
                                            <td>OS</td>
                                        </tr>
                                        <tr>
                                            <td>46</td>
                                            <td>Mr Girishchandra Tiwari</td>
                                            <td>LDC</td>
                                        </tr>
                                        <tr>
                                            <td>47</td>
                                            <td>Mrs Sneha Santosh Pawar </td>
                                            <td>LDC</td>
                                        </tr>
                                        <tr>
                                            <td>48</td>
                                            <td>Mrs Sheetal Santosh Telvekar</td>
                                            <td>LDC</td>
                                        </tr>
                                        <tr>
                                            <td>49/td>
                                            <td>Mr Manoj H Patil </td>
                                            <td>Adm Supervisor</td>
                                        </tr>

                                        <tr>
                                            <td colspan="3"><strong>Group ‘D’</strong></td>
                                        </tr>

                                        <tr>
                                            <td>50</td>
                                            <td>Mr S A Swamy </td>
                                            <td>Peon</td>
                                        </tr>

                                        <tr>
                                            <td>51</td>
                                            <td>Mr Neelchand Parcha </td>
                                            <td>Safauwala</td>
                                        </tr>
                                        <tr>
                                            <td>52</td>
                                            <td>Mr Nisar Ahmed</td>
                                            <td>Driver</td>
                                        </tr>
                                        <tr>
                                            <td>53</td>
                                            <td>Mrs Sundari Taak</td>
                                            <td>Multitasking</td>
                                        </tr>

                                        <tr>
                                            <td>54</td>
                                            <td>Mr Mainuddin Khalifa</td>
                                            <td>Multitasking</td>
                                        </tr>
                                        <tr>
                                            <td>55</td>
                                            <td>Mr Swapnil Kamble</td>
                                            <td>Multitasking</td>
                                        </tr>
                                        <tr>
                                            <td>56</td>
                                            <td>Mrs Lalitabai Rathod</td>
                                            <td>Multitasking</td>
                                        </tr>
                                        <tr>
                                            <td>57</td>
                                            <td>Mr Subhash Rathod</td>
                                            <td>Multitasking</td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 res-m-bttm">
                            <p><img src="image/about.jpg"></p>

                        </div>

                    </div>
                    <div class="clear"></div>
                    <div class="gaps size-md"></div>

                </div>
                <hr>


            </div>
        </div>
    </div>
