<head>
    <title>:: Army Public School - Mumbai ::</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="image/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/vendor.bundle.css">
    <link id="style-css" rel="stylesheet" type="text/css" href="css/style-bitcoin.css">
    <script>
        function startDate() {
            var d = new Date();
            var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            document.getElementById("date").innerHTML = days[d.getDay()] + " | " + d.getDate() + " " + months[d.getMonth()] + " " + d.getFullYear();
        }
        startDate();
    </script>
</head>
<div class="section section-about  section-pad">
    <div class="container">
        <div class="content row">

            <div class="row row-vm">
                <div class="col-md-6 res-m-bttm">
                    <h2>Dear Parents,</h2>
                    <p>
                        “Education is the passport to the future, for tomorrow belongs to those who prepare for it today.”<br><br>

                        As the Principal of the School, I feel honored and privileged to be a part of APS, Mumbai that has a long standing tradition of excellence in academics, Sports, state-of-the art infrastructure and facilities.
                    </p>

                    <p>
                        Mrs. Lakshmi Madhuri Chatti.

                        <br>Principal
                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <img src="https://www.apsmumbai.com/website/html/assets/img/about.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
