
<head>
    <title>:: Army Public School - Mumbai ::</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="image/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/vendor.bundle.css">
    <link id="style-css" rel="stylesheet" type="text/css" href="css/style-bitcoin.css">
</head>

<div class="section section-photo-gallery section-pad">
    <div class="container">
        <div class="content row">

            <!-- Gallery -Photo -->
            <div class="gallery gallery-lightbox gallery-photos gallery-filled">
                <h2 align="left"><strong>Art and Craft</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Art-lab/12_ART_&_CRAFT.jpg">
                            <div class="photo">
                                <img src="image/Art-lab/12_ART_&_CRAFT.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Art-lab/13_ART_&_CRAFT_2.jpg">
                            <div class="photo">
                                <img src="image/Art-lab/13_ART_&_CRAFT_2.jpg" alt="Photo Title">
                            </div>
                        </a>
                    </li>
                </ul>



            </div>
            <!-- Gallery #end -->
            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Audio Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Audio-Lab/gallery3.jpg">
                            <div class="photo">
                                <img src="image/Audio-Lab/gallery3.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                </ul>

            </div>


            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Biology Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Biology-Lab/7_BIOLOGY_LAB.jpg">
                            <div class="photo">
                                <img src="image/Biology-Lab/7_BIOLOGY_LAB.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>

                    <li>
                        <a href="image/Biology-Lab/gallery8.jpg">
                            <div class="photo">
                                <img src="image/Biology-Lab/gallery8.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                </ul>

            </div>

            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Chemistry Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Chemistry-Lab/8 _CHEMISTRY_LAB.jpg">
                            <div class="photo">
                                <img src="image/Chemistry-Lab/8 _CHEMISTRY_LAB.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Chemistry-Lab/gallery6.jpg">
                            <div class="photo">
                                <img src="image/Chemistry-Lab/gallery6.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Chemistry-Lab/gallery7.jpg">
                            <div class="photo">
                                <img src="image/Chemistry-Lab/gallery7.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                </ul>

            </div>

            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Computer Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Computer-Lab/gallery5.jpg">
                            <div class="photo">
                                <img src="image/Computer-Lab/gallery5.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                </ul>

            </div>

            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>English Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/English-Lab/11_ENGLISH_LANGUAGE_LAB.jpg">
                            <div class="photo">
                                <img src="image/English-Lab/11_ENGLISH_LANGUAGE_LAB.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/English-Lab/ENGLISH_LANGUAGE_LAB.jpg">
                            <div class="photo">
                                <img src="image/English-Lab/ENGLISH_LANGUAGE_LAB.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>

                </ul>

            </div>

            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Library Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Library/Library.jpg">
                            <div class="photo">
                                <img src="image/Library/Library.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Library/library1.jpg">
                            <div class="photo">
                                <img src="image/Library/library1.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                </ul>

            </div>

            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Maths Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Maths-Lab/11_Math_Lab.jpg">
                            <div class="photo">
                                <img src="image/Maths-Lab/11_Math_Lab.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Maths-Lab/gallery9.jpg">
                            <div class="photo">
                                <img src="image/Maths-Lab/gallery9.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Maths-Lab/Maths_Lab.jpg">
                            <div class="photo">
                                <img src="image/Maths-Lab/Maths_Lab.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Maths-Lab/maths2lab.jpg">
                            <div class="photo">
                                <img src="image/Maths-Lab/maths2lab.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                </ul>

            </div>

            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Physics Lab</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Physics-Lab/9_PHYSICS_LAB.jpg">
                            <div class="photo">
                                <img src="image/Physics-Lab/9_PHYSICS_LAB.jpg" alt="Photo Title">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="image/Physics-Lab/gallery1.jpg">
                            <div class="photo">
                                <img src="image/Physics-Lab/gallery1.jpg" alt="Photo Title">
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="image/Physics-Lab/gallery2.jpg">
                            <div class="photo">
                                <img src="image/Physics-Lab/gallery2.jpg" alt="Photo Title">
                            </div>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="gallery gallery-lightbox gallery-photos gallery-filled">

                <h2 align="left"><strong>Sports</strong></h2>
                <ul class="photos-list col-x4">
                    <li>
                        <a href="image/Sports/17_SPORTS_(BASKETBALL_COURT).jpg">
                            <div class="photo">
                                <img src="image/Sports/17_SPORTS_(BASKETBALL_COURT).jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Sports/19_FOOTBALL_GROUND_2.jpg">
                            <div class="photo">
                                <img src="image/Sports/19_FOOTBALL_GROUND_2.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Sports/sports.jpg">
                            <div class="photo">
                                <img src="image/Sports/sports.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Sports/sports1.jpg">
                            <div class="photo">
                                <img src="image/Sports/sports1.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Sports/sports3.jpg">
                            <div class="photo">
                                <img src="image/Sports/sports3.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="image/Sports/sports4.jpg">
                            <div class="photo">
                                <img src="image/Sports/sports4.jpg" alt="Photo Title">
                            </div>
                        </a>

                    </li>
                </ul>

            </div>



        </div>
    </div>
</div>

