<head>
    <title>:: Army Public School - Mumbai ::</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="image/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/vendor.bundle.css">
    <link id="style-css" rel="stylesheet" type="text/css" href="css/style-bitcoin.css">
    <script>
  function startDate() {
    var d = new Date();
    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    document.getElementById("date").innerHTML = days[d.getDay()]+" | "+d.getDate()+" "+months[d.getMonth()]+" "+d.getFullYear();
  }
startDate();
    </script>
</head>
<div class="section section-projects single-project section-pad">
    <div class="container">
        <div class="content row">

            <div class="project-info">

                <h1>FEE STRUCTURE - 2021-22</h1>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <!--<h3>Staff list</h3>-->
                        <div class="table-responsive">
                            <table class="table table-striped bdr-bottom">
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="4"><strong>Category</strong></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Offrs</td>
                                        <td>JCO's</td>
                                        <td>OR</td>
                                        <td>Civil</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">1. ONE TIME (NEW ADMISSION)</td>
                                    </tr>
                                    <tr>
                                        <td>Registration</td>
                                        <td>605</td>
                                        <td>605</td>
                                        <td>605</td>
                                        <td>1100</td>
                                    </tr>
                                    <tr>
                                        <td>School Diary</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td>165</td>
                                    </tr>
                                    <tr>
                                        <td>Admission fee</td>
                                        <td>2145</td>
                                        <td>1110</td>
                                        <td>715</td>
                                        <td>12100</td>
                                    </tr>
                                    <tr>
                                        <td>Security Dep (Refundable)</td>
                                        <td>11000</td>
                                        <td>9900</td>
                                        <td>8800</td>
                                        <td>18700</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>13145</td>
                                        <td>11000</td>
                                        <td>9515</td>
                                        <td>30800</td>
                                    </tr>

                                    <tr>
                                        <td colspan="6">2. ANNUAL (FOR CLASSES I TO XII)</td>
                                    </tr>
                                    <tr style="vertical-align:top">
                                        <td rowspan="8">
                                            Library Development (Bldg ) Exam & Sty<br>
                                            Games & Sports<br>
                                            Playway & Scientific Eqpt (upto Cl V)<br>
                                            School Journal Group Ins Premium
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>385</td>
                                        <td>275</td>
                                        <td>880</td>
                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>385</td>
                                        <td>275</td>
                                        <td>1320</td>
                                    </tr>
                                    <tr>
                                        <td>385</td>
                                        <td>385</td>
                                        <td>385</td>
                                        <td>550</td>
                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>385</td>
                                        <td>275</td>
                                        <td>1210</td>
                                    </tr>
                                    <tr>
                                        <td>385</td>
                                        <td>275</td>
                                        <td>275</td>
                                        <td>880</td>
                                    </tr>
                                    <tr>
                                        <td>275</td>
                                        <td>275</td>
                                        <td>275</td>
                                        <td>330</td>
                                    </tr>
                                    <tr>
                                        <td>120	</td>
                                        <td>120</td>
                                        <td>120</td>
                                        <td>120</td>
                                    </tr>
                                    <tr>
                                        <td>Total for Cl I to V</td>
                                        <td>2760</td>
                                        <td>2320</td>
                                        <td>1990</td>
                                        <td>5455</td>
                                    </tr>
                                    <tr>
                                        <td>Total for Cl VI to XII</td>
                                        <td>2375</td>
                                        <td>2045</td>
                                        <td>1715</td>
                                        <td>4575</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">Quarterly</td>
                                    </tr>
                                    <tr style="vertical-align:top">
                                        <td rowspan="4">
                                            Class I - V<br>
                                            Tuition<br>
                                            Computer incl TAL Pupil Fund
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>6930</td>
                                        <td>5940</td>
                                        <td>4950</td>
                                        <td>12210</td>
                                    </tr>
                                    <tr>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>1650</td>
                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>1320</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>8250</td>
                                        <td>7260</td>
                                        <td>6270</td>
                                        <td>15180</td>
                                    </tr>
                                    <tr style="vertical-align:top">
                                        <td rowspan="4">
                                            Class VI to VIII <br>
                                            Tuition<br>
                                            Computer incl TAL Pupil Fund
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>7920</td>
                                        <td>6930</td>
                                        <td>5940</td>
                                        <td>13530</td>
                                    </tr>
                                    <tr>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>1650</td>
                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>1320</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>9240</td>
                                        <td>8250</td>
                                        <td>7260</td>
                                        <td>16500</td>
                                    </tr>
                                    <tr style="vertical-align:top">
                                        <td rowspan="5">
                                            Class IX -X<br>
                                            Tuition<br>
                                            Computer incl TAL<br>
                                            Pupil Fund Science
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>7920</td>
                                        <td>6930</td>
                                        <td>5940</td>
                                        <td>13530</td>
                                    </tr>
                                    <tr>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>1650</td>
                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>1320</td>
                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>990</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>9735</td>
                                        <td>8745</td>
                                        <td>7755</td>
                                        <td>17490</td>
                                    </tr>
                                    <tr style="vertical-align:top">
                                        <td rowspan="3">
                                            Class XI-XII<br>
                                            Tuition<br>
                                            Computer incl TAL
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>8910</td>
                                        <td>7920</td>
                                        <td>6930</td>
                                        <td>14850</td>
                                    </tr>
                                    <tr>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>825</td>
                                        <td>1650</td>
                                    </tr>

                                    <tr>
                                        <td>Pupil Fund</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>1320</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>10230</td>
                                        <td>9240</td>
                                        <td>8250</td>
                                        <td>17820</td>
                                    </tr>
                                    <tr style="vertical-align:top">
                                        <td rowspan="2">
                                            Science *<br>
                                            Information Practices $
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>1320</td>

                                    </tr>
                                    <tr>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>495</td>
                                        <td>1320</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 res-m-bttm">
                        <p><img src="image/about.jpg"></p>

                    </div>

                </div>
                <div class="clear"></div>
                <div class="gaps size-md"></div>

            </div>
            <hr>


        </div>
    </div>
</div>

